.bidbox{
  background: lavender;
  border-radius: 20px;
  position: relative;
}
.disable input{
pointer-events: none;
}
.enable{
    border-radius: 20px;
    position: relative;
  background: rgb(211, 220, 255) !important;
}
.disableOverlay{
position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255,0.5);
}
